/* Start Variables */
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --padding-top:60px;
    --padding-bottom:60px;
    --background-color:#f6f6f6;
    

}


/* End Variables */
/* Start Globale Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans" , sans-serif;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile */
@media (min-width : 576px){
    .container{
        width: 520px;
    }
}
/* Small screen */
@media (min-width : 768px){
    .container{
        width: 750px;
    }
}
/* medium screen */
@media (min-width : 992px){
    .container{
        width: 970px;
    }
}
/* Large screen */
@media (min-width : 1200px){
    .container{
        width: 1170px;
        
    }
}
/* End Globale Rules */

/* Start Componets */
 .special-headind{
    font-weight: 800;
    text-align: center;
    color: #ebeced;
    margin: 0;
    width: 100%;
    font-size: 100px;
    letter-spacing: -3px;
}
.special-headind + p{
    text-align: center;
    margin: -30px 0 0;
    color: #777;
    font-size: 20px;
}

/* End Componets */

/* Start Of Header */

.Header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header .container .logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
.Header .Links{
    position: relative;
    z-index: 1;
}
.Header .container .Links .icon:hover span:nth-child(2){
    width: 100%;

}
.Header .container .Links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.Header .container .Links .icon span{
    background-color: black;
    height: 2px;
    margin-bottom: 5px;
}
.Header .container .Links .icon span:first-child{
    width: 100%;
}
.Header .container .Links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.Header .container .Links .icon span:last-child{
    width: 100%;
}
.Header .container .Links:hover ul{
    display: block;
}
.Header .container .Links ul{
    padding: 0;
    margin: 0;
   list-style: none;
   position: absolute;
   right: 0px;
   min-width: 200px;
   background-color: #f6f6f6;
   top: calc(100% + 20px);
   display: none;
}
.Header .container .Links ul::before{
    content: '';
    position: absolute;
    border-color:transparent transparent #f6f6f6 transparent ;
    border-width: 10px ;
    border-style: solid;
    right: 5px;
    top: -20px;

}
.Header .container .Links ul a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: 0.3s;
   
}
.Header .container .Links ul a:hover{
    padding-left: 25px;
}
.Header .container .Links ul li:not(:last-child) a{
    border-bottom: 1px #ddd solid;
}
/* End Of Header */

/* Start of landing section */
.landing{
   background-image: url(../imges/1581416516415.jpg);
   background-size: cover;
   height: calc(100vh - 100px);
   position: relative;

}
.landing .intro-text  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 375px;
    max-width: 100%;
}
.landing .intro-text h1 {
    color: var(--main-color);
    margin: 0;
    font-size: 50px;
}
.landing .intro-text p {
   line-height: 1.8;
   font-size: 19px;
}
/* End of landing section */

/* Satrt features section */
.features{
    padding-top: var(--padding-top);
    padding-bottom:var(--padding-bottom) ;
    background-color: var(--background-color);
    text-align: center;

}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap:20px ;
    
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
}
.features .feat h3{
    font-weight: 800px;
    margin: 30px 0;
}
.features .feat p{
   line-height: 1.8;
   color: #777;
   font-size: 17px;
}
/* End features section */

/* Start Service section */
.service{
    padding-top: var(--padding-top);
    padding-bottom:var(--padding-bottom) ;
}
.service-contant{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap:20px ;
    margin-top: 100px;  
}
.service-contant .serv {
    display: flex;
    margin-bottom: 40px;
}
@media(max-width :767px){
    .service-contant .serv{
        flex-direction: column;
        text-align: center;
    }

}
.service-contant .serv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.service-contant .serv .text {
    flex: 1;
}
.service-contant .serv .text h3{
    margin: 0 0 20px;

}
.service-contant .serv .text p{

    line-height: 1.8;
    color: #777;
    font-weight: 300px;

}
.service-contant .col img{
    width: 260px;
    
    
}
.service-contant .col .image-coulom{
    position: relative;
    text-align: center;

}
.service-contant .col .image-coulom::before{
    content: '';
    background-color:var(--secondary-color) ;
    position: absolute;
    height: calc(100% + 100px);
    width: 100px;
    top: -50px;
    right: 0;
    z-index: -1;
}
@media (max-width:992px){
    .service-contant .col .image-coulom{
        display: none;
    }
}
.Portfolio{
    padding-top: var(--padding-top);
    padding-bottom:var(--padding-bottom) ;
    background-color: var(--background-color);
    

}
.Portfolio-contant{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap:20px ;
    margin-top: 100px;  
}
.Portfolio-contant .card{
    background-color: white;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.Portfolio-contant .card img{
    width: 100%;
    height: 300px;
}

.Portfolio-contant .card p{
    line-height: 1.6;
    color: #777;
}

/* end Service section */

/* Start About section */
.About{
    padding-top: var(--padding-top);
    padding-bottom:var(--padding-bottom) ;
    
}
.About-contant{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
 
}
@media (max-width: 766px) {
    .About-contant {
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
    }
  }
.About-contant img{
    width: 250px;
    height: 375px;
    
    
}
.About-contant .text{
    flex-basis: calc(100% - 500px);
    
}
.About-contant .text p:first-of-type{
    font-weight: bold;
    line-height: 2;

}
.About-contant .text hr{
    border: 1px solid var(--main-color);
    width: 50%;
   display: inline-block;

}
.About-contant .text p:last-of-type{
    color: #777;
    line-height: 2;

}
/* End About section */

/* start Contact */
.Contact{
    
    padding-top: var(--padding-top);
    padding-bottom:var(--padding-bottom) ;
    background-color: var(--background-color);
    text-align: center;


}
.Contact .lable{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    padding-top: var(--padding-top);
    margin-bottom: 10px;
    letter-spacing: -2px;
}
.Contact .link{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    font-size: 35px;
}
.Contact .social{
    
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    
    
}
.Contact .social i{
    margin-left: 15px;
    color: var(--secondary-color);

}

/* End Contact */

/* Start Footer */
.footer{
    background-color: var(--secondary-color);
    padding: 30px ;
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;

}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */